

.connectedSortable {
  border: 2px dashed blue;
  margin: 10px 10px 0 0;
  padding: 5px;
  min-width:100%; /* 200px */
  min-height:50px;
}

.sortablePlaceholder {
	/*width: 170px;*/
	padding: 5px 10px;
	margin: 5px 0;
	border: 2px solid #444;
	border-radius: 3px; /* 5px; */
	background-color: #fff; /*#EA8A8A;*/
  border-color: #ccc;
  color: #333;
  line-height: 1.5;

	font-size: 12px; /*1.1em;*/
	/*font-weight: bold;
	text-align: center;*/
	cursor: move;
}


.floatleft {
  float: left;
}

.floatright {
  float: right;
}

.clear {
  clear: both;
}

.highlight {
  	background-color: lightcoral;
}

/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}
